@import "../sass/variables.scss";

.ch-checkbox {
  width: calc(100% - $size-7 - $size-7);
  display: flex;
  cursor: pointer;
  padding: $size-6 $size-7;
  overflow-wrap: break-word;

  input[type="checkbox"] {
    margin-top: -0.5px;
    appearance: none;
    max-height: 22px;
    padding: 1px 3px;
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    margin-right: $size-7;
    background-color: $white;

    &:checked {
      background-color: $primary;
      border-color: $primary;
    }

    &:before {
      content: "\2713";
      font-size: 1rem;
      font-weight: bold;
      color: $white;
      opacity: 0;
    }
    
    &:checked:before {
      opacity: 1;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: $grey-light;

    input[type="checkbox"] {
      background-color: $grey-lighter;
      border-color: $grey-lighter;
    }

    input[type="checkbox"]:checked:before {
      color: $grey-dark;
    }
  }

  &.reversed {
    flex-direction: row-reverse;
    justify-content: space-between;

    input[type="checkbox"] {
      margin-right: 0;
      margin-left: $size-7;
    }
  }
}
