@import "../../sass/variables.scss";

.ch-button {
  font-size: $size-6;
  min-width: 7.5rem;
  font-weight: $weight-bold;
  padding: $size-6 $size-2;
  border: 1px solid $grey;
  border-radius: $radius-large;
  cursor: pointer;
  box-sizing: border-box;

  &.wide {
    min-width: 15rem;
  }

  &.fat {
    padding: $size-5 $size-2;
  }

  &.ch-primary-button {
    color: $white;
    border-color: $primary;
    border-width: $size-9;
    background-color: $primary;
  }

  &.ch-secondary-button {
    color: $secondary;
    border-width: $size-9;
    border-color: $secondary;
    background-color: transparent;
  }

  &.ch-tertiery-button {
    border-width: $size-9;
    border-color: transparent;
    background-color: transparent;
  }

  &:disabled {
    color: $white;
    border-color: $accent-2;
    background-color: $accent-2;
    cursor: not-allowed;
  }

  &.rounded {
    border-radius: $radius-rounded;
  }
}
