@import "../../sass/variables.scss";

.checkbox {
  position: relative;
  width: calc(100% - 26px);
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  padding: $size-6 $size-7;
  overflow-wrap: break-word;
  border: 1px solid $grey-light;

  &.checkbox::before {
    position: relative;
    content: "";
    height: 22px;
    width: 22px;
    min-width: 22px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $grey-lighter;
    margin-right: $size-7;
  }

  &.checkbox::after {
    position: absolute;
    content: "";
    left: 20px;
    top: 19px;
    height: 12px;
    width: 6px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    transform: rotate(45deg) scale(1);
    opacity: 0;
  }

  &.checkbox-checked::before {
    background-color: $primary;
  }

  &.checkbox-checked::after {
    opacity: 1;
  }

  &.checkbox-disabled {
    cursor: not-allowed;
    color: $grey-light;

    &::before {
      background-color: $grey-light
    }
  }

  &.checkbox-reversed {
    flex-direction: row-reverse;
    justify-content: space-between;

    &::before {
      margin-right: 0;
      margin-left: $size-7;
    }

    &::after {
      left: calc(100% - 28px);
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }
}
