@import "../sass/variables.scss";

.ch-radio {
  width: calc(100% - #{$size-7 + $size-7});
  cursor: pointer;
  padding: $size-6 $size-7;

  input[type="radio"] {
    appearance: none;
    max-height: 23px;
    padding: .2rem .32rem;
    margin: -3px $size-7 0 0;
    background-color: $white;
    border: 1px solid $grey-lighter;
    border-radius: $radius-rounded;

    &:before {
      content: "\25CF";
      color: $white;
      font-size: $size-7;
    }

    &:checked {
      border-color: $primary;
      background-color: $primary;
    }
  }

  &.disabled {
    cursor: not-allowed;

    input[type="radio"] {
      border-color: $grey-light;
      background-color: $grey-light;

      &:before {
        color: $grey-light;
      }

      &:checked:before {
        color: $white;
      }
    }
  }
}

.ch-radio-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &.horizontal {
    flex-direction: row;

    & > .ch-radio {
      flex-grow: 1;
    }
  }
}
