@import "../sass/variables.scss";

.ch-button {
  font-size: $size-6;
  min-width: 200px;
  font-weight: bold;
  padding: $size-6 $size-2;
  border: 1px solid $grey;
  border-radius: $radius-large;
  cursor: pointer;
  
  &.ch-primary-button {
    color: $white;
    border-color: $primary;
    background-color: $primary;
  }

  &.ch-secondary-button {
    color: $secondary;
    border-width: 3px;
    border-color: $secondary;
    background-color: $accent;
  }

  &.ch-tertiery-button {
    background-color: $accent;
    border-color: transparent;
    border-width: 3px;
  }

  &:disabled {
    color: $white;
    border-color: $accent-2;
    background-color: $accent-2;
    cursor: not-allowed;
  }

  &.rounded {
    border-radius: $radius-rounded;
  }
}
