@import "../sass/variables.scss";

.ch-text-field {
  width: 100%;
  padding: $size-7 $size-6;
  border: 1px solid $grey-lighter;
  border-radius: $radius;
  box-sizing: border-box;

  &.disabled {
    background-color: $accent;
    cursor: not-allowed;
  }
}
